<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    </head>
    <div class = "head">MR. POP</div>


    <div class = "foot">
        <div class = "head" >OTHER PROJECTS </div>
        <br>
        <div class="ui stackable equal width three column grid container">
            <div class="row">
                <div class="column">
                    <a href = "../projects/bear.html">

                    <div class = "otherprojectsitem">
                        <img src = "../../static/img/work/thumbnails/boxy.png">
                        <h1> Boxy images</h1>
                    </div>
                </a>

                </div>
                <div class="column">
                    <a href="../../templates/projects/bear.html">
                    Two
                    </a>
                </div>
                <div class="column">
                    <a href="../../templates/projects/bear.html">
                    Three
                    </a>
                </div>
            </div>
        </div>
        
        
    </div>
</html>