<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
    </head>
    <script type="module">

    // View an image.

    // Then, show the image by clicking it, or call `viewer.show()`.
    
    // View a list of images.
    // Note: All images within the container will be found by calling `element.querySelectorAll('img')`.
    const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});
    // Then, show one image by click it, or call `gallery.show()`.

    </script>


    <div id = "images" class = "gallery">
        <div class="ui stackable equal height two column grid container">
            <div class = "ten wide column">
                <img src = "../../static/img/work/bear/bearclose.jpg">
            </div>
            <div class = "three wide column " >
                <div class = "projectcaption">
                    <div class = "head">MR. POP</div>

                    A bear I created for the Polycount character art competition. 
                    <br>
                    <br>
                    Tools used: <br>Zbrush, Maya, Arnold, Substance Painter, Photoshop
                    <br>
                    <br>
                    My entry was featured on main page.
                 </div>
            </div>
        </div>
    <div class="ui stackable equal width two column grid container" style= "background-color: black;">
        <div class = "column">
            <img src = "../../static/img/work/bear/bearangle1.jpg">
        </div>
        <div class = "column">
            <img src = "../../static/img/work/bear/bearangle2.jpg">
        </div>
    </div>
    <br>

    <div class = "ui horizontal divider">Process</div>
    <br>
    <div class="ui stackable two column grid container">
        <div class = " seven wide column">
            <img src = "../../static/img/work/bear/bearwires.jpg">
        </div>
        <div class = "nine wide column">
            <img src = "../../static/img/work/bear/bearclay.jpg">
        </div>
    </div>

</div>

</html>