<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
    </head>
    <div class = "head">KULIPARI POSTERS</div>
    <script type="module">

    // View an image.

    // Then, show the image by clicking it, or call `viewer.show()`.
    
    // View a list of images.
    // Note: All images within the container will be found by calling `element.querySelectorAll('img')`.
    const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});
    // Then, show one image by click it, or call `gallery.show()`.

    </script>


    <div id = "images" class = "gallery">
        <div class="ui stackable centered  three column grid container">
            <div class="three column centered row">
                <div class="column">
                    <img src = "../../static/img/work/kulipari_posters/Darel_Final.png">
         
    
                </div>
                <div class="column">
                    <img src = "../../static/img/work/kulipari_posters/Marmoo_Final.png">
        
                </div>
            </div>
        </div>
        <div class="ui horizontal divider">
            Process
          </div>
        <div class="ui stackable centered  four column grid container">
            <div class="three column centered row">
                <div class="column">
                    <img src = "../../static/img/work/kulipari_posters/Darel_Process.gif">
                </div>
                <div class="column">
                    The word
                </div>
            </div>
        </div>
        <div class="ui stackable centered  three column grid container">
            <div class="three column centered row">
                <div class="column">
                    <img src = "../../static/img/work/kulipari_posters/Marmoo_Process.gif">
                </div>
                <div class="column">
                    The word
                </div>
            </div>
        </div>



</div>
</html>