<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
    </head>
    <div class = "head">KULIPARI POSTERS</div>
    <script type="module">

    // View an image.

    // Then, show the image by clicking it, or call `viewer.show()`.
    
    // View a list of images.
    // Note: All images within the container will be found by calling `element.querySelectorAll('img')`.
    const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});
    // Then, show one image by click it, or call `gallery.show()`.

    </script>


    <div id = "images" class = "gallery">
        <div class="ui stackable equal width two column grid container" >
            <div class = "column">
                <img src = "../../static/img/work/kulipari_posters/Darel_Final.png">
            </div>
            <div class = "column">
                <img src = "../../static/img/work/kulipari_posters/Marmoo_Final.png">
            </div>
        </div>


        <div class="ui stackable equal width two column grid container" >
            <div class = "column">
                <img src = "../../static/img/work/kulipari_posters/Darel_Process.gif">
            </div>
            <div class = "column">
                <img src = "../../static/img/work/kulipari_posters/Marmoo_Process.gif">
            </div>
        </div>
        <div class="ui stackable equal height two column grid container">
            <div class = "ten wide column">
                <img src = "../../static/img/work/dragon/nikita-shtarkman-dffuse3.jpg">
            </div>
            <div class = "three wide column " >
                <div class = "projectcaption"> A bear I created for the Polycount character art competition. 
                    <br>
                    <br>
                    Tools used: Zbrush, Maya, Arnold, Substance Painter, Photoshop
                    <br>
                    
                    <br>
                    I was featured on the page with my final result.
                 </div>
            </div>
        </div>


</div>
</html>