<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
    </head>
    <style>
        body {
            background-color: black !important;
        }
        p {
            color: white;
        }
        h1 {
            color: white
        }
        a { 
            color: rgb(99, 159, 178) !important;
        }
        a:hover {
            color: white !important;
        }
        .ui.horizontal.divider {
            color: white !important;
        }
    </style>
    <script type="module">

    // View an image.

    // Then, show the image by clicking it, or call `viewer.show()`.
    
    // View a list of images.
    // Note: All images within the container will be found by calling `element.querySelectorAll('img')`.
    const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});
    // Then, show one image by click it, or call `gallery.show()`.

    </script>
    <body>


<!--

<div class="ui text fixed top menu">

    <a href = "../../index.html" class = "item" style = "visibility: visible;">
        <img src="/static/logo/logo.svg" id = "sitelogo">
    </a>

    <div class = "ui right menu" style="background-color: transparent !important;">

        <a  href = "../about.html" class="item">about</a>
    </div>

</div>
-->

    <a href = "../about.html">
        <img id="info" src ="../../static/icons/info.svg" >
    </a>
    
    <a href = "../../index.html">
        <img id="logo" src = "../../static/logo/white-logo.svg" >
    </a>
<div class = "project-cover">
    <div style="position: absolute; top: 50%; left: 45%; color: white; text-align: center;">
        Each point on this screen is a galaxy.
        <br>
        Scroll down to learn more.
    </div>
    <video width="100%"  autoplay loop muted  style="object-position: 50% 20%;">
        <source src="../../static/img/work/mapofuniverse/Video Fixed.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video></div>
<div class = "container containerleft">
    <div class ="separator">

    </div>
    <div id = "images" class = "gallery">
        
        <div class = "img-gallery" style="background-color: black; padding-top: 2%; padding-bottom: 2%">
            <div class = "image-set">
                <img src = "../../static/img/work/mapofuniverse/mainmap.png">
                <p class = "caption">
                    The map of the universe. This slice shows 200,000 galaxies from our nearest neighbors, to the furthest 
                    reaches of the universe.
                </p>
            </div>
        </div>
        <div class = "separator">

        </div>
        <h1>
            Map of the Observable Universe
        </h1>
        <div class="ui stackable grid container">
            <div class = "eight wide column">
                <p>
                    This is the largest possible map that can be compiled.
                    <br>
                    <br>
                    This is a project I was lucky enough to work on with Dr. Brice Ménard, an astrophysicist at Johns Hopkins University.
                    We have created a range of visuals to describe the vast structure of the universe. The map reaches back to the very first flash
                    of light, emanating from the Big Bang. Our flagship is our website: <a href = "http://mapoftheuniverse.net">mapoftheuniverse.net</a>.
                </p>
            </div>
            <div class = "eight wide column">
                <p class = "other-text">
                    A data visualization on the largest scale. <br>
                    An interactive website.
                </p>
            </div>
        </div>

        <div class = "separator">
        </div>
        <div style="text-align: center;">
            <iframe width="50%" height="500px" src="https://www.youtube.com/embed/Oekma9SZMMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class = "ui horizontal divider header">Visuals</div> 
        <div class = "big-image-gallery">
            <div class = "image-set">
                <img src = "../../static/img/work/mapofuniverse/horizontal.png">  
                <p class = "caption">
                    The banner view of the universe - a long poster meant to be printed large and enjoyed.
                </p>
    
            </div>
            <div class = "image-set">
                <img src = "../../static/img/work/mapofuniverse/Universe_3D.jpg">
                <p class = "caption">
                    The observable universe seen as a sphere. The highlighted section represents our slice. The edge is the Cosmic Microwave Background.
                </p>
            </div>  
            <div class = "image-set">
                <img src = "../../static/img/work/mapofuniverse/CMB_3D.jpg">
                <p class = "caption">
                    The Cosmic Microwave Background is the radioactive backdrop of our universe. It is an emission of light from around the time of the Big Bang.
                </p>
            </div>  
        </div>

        <div class = "ui horizontal divider header">Web Development</div> 
        <p> The website was developed to be interactive, but simple. The idea was to provoke curiosity, without
            losing the central point.

            <div class = "big-image-gallery">
                <div class = "image-set">
                    <img src = "../../static/img/work/mapofuniverse/horizontal.png">  
                    <p class = "caption">
                        The banner view of the universe - a long poster meant to be printed large and enjoyed.
                    </p>
        
                </div>
                <div class = "image-set">
                    <img src = "../../static/img/work/mapofuniverse/Universe_3D.jpg">
                    <p class = "caption">
                        The observable universe seen as a sphere. The highlighted section represents our slice. The edge is the Cosmic Microwave Background.
                    </p>
                </div>  
                <div class = "image-set">
                    <img src = "../../static/img/work/mapofuniverse/CMB_3D.jpg">
                    <p class = "caption">
                        The Cosmic Microwave Background is the radioactive backdrop of our universe. It is an emission of light from around the time of the Big Bang.
                    </p>
                </div>  
            </div>
        </p>
        <div class = "ui horizontal divider header">Press</div> 
        <p> Our release was a great success - and we were lucky to have been featured in a good amount of press.
            <br>
            <br>

            Here are some links to some lovely articles:
            <br>
            <a href = "https://www.fastcompany.com/90819258/map-of-the-universe?partner=rss&utm_source=rss&utm_medium=feed&utm_campaign=rss+fastcompany&utm_content=rss"> Fast Company.</a>
        </p>

    </div>

</div>

</div>
</body>


</html>


