<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />

    </head>

    <style>
        body {
            background-color: black !important;
        }
        p {
            color: white;
        }
        h1 {
            color: white;
        }
        .ui.horizontal.divider {
            color: white !important;
        }
    </style>
    <script type="module">

        const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});

    </script>

    
<a href = "../about.html">
    <img id="info" src ="../../static/icons/info-outline.svg" >
</a>

<a href = "../../index.html">
    <img id="logo" src = "../../static/logo/white-logo.svg" >
</a>

<div class = "project-cover">
    <video width="100%"  autoplay loop muted style="object-position: 50% 20%;">
        <source src="../../static/img/work/skeletons/Revolve.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> 
    <div style="position: absolute; color: white; text-align: center; bottom: 0;">
        <div class = "containerleft">
            <div class="ui stackable grid container">
                <div class = "six wide column project_caption">
                    <h1>
                        Revolve/Consist
                    </h1>
                    <p>
                        <br>
                        A skeleton sculpted in Zbrush as a study of human anatomy. This skeleton was then ripped apart, blown up, pulled and distroted in an abstract video series. The immersive sound in the videos is courtesy of Anton Shtarkman.
                        <br>
                        <br>
                        The skeleton was sculpted using a variety of reference material to be an anatomically accurate reproduction. 
                        <br>
                        <br>
                        Tools used: Zbrush, Maya, Arnold, Houdini, After Effects, Illustrator
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "container containerleft">

    <div id = "images" class = "gallery">

    <div class="ui stackable centered  three column grid container" style = "background-color: black;">
        <div class="three column centered row">
            <div class="column">
                <div>

                <video width="100%"  autoplay loop muted controls>
                    <source src="../../static/img/work/skeletons/Revolve.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>   
                  <p class = "caption">
                    Revolve: Unmute for sound.
                  </p>
                </div>

            </div>
            <div class="column">
                <div>

                <video width="100%"  autoplay loop muted controls>
                    <source src="../../static/img/work/skeletons/Consist.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>  
                  <p class  = "caption">
                    Consist: Unmute for sound.
                  </p>
                </div>
            </div>
        </div>
        <div class = "separator">
        </div>
    

    </div>
    <h1>
    </h1>
    <div class="ui stackable equal height three column grid container" style = "background-color: black;">
        <div class = "column">
        </div>
        <div class = "column">
            <p>

            </p>
        </div>
        
    </div>

    <div class = "column" >
        
       
        
    </div>

    <div class = "separator">
    </div>
    <div class = "ui horizontal divider header">The Sculpt</div> 
    <div class="ui stackable column grid container" style = "background-color: black; text-align: center;">
        <div class = "column ten wide">
            <img src = "../../static/img/work/skeletons/closeskele.png"/>
        </div>
    </div>


    <div class="ui stackable equal height three column grid container" style = "background-color: black;">
        <div class = "column">
            <img src = "../../static/img/work/skeletons/skele1.png"/>
            </div>
        <div class = "column">
            <img src = "../../static/img/work/skeletons/skele3.png"/>

            </div>
            <div class = "column">
                <img src = "../../static/img/work/skeletons/skele2.png"/>
                </div>

    </div>


    <div class="ui stackable equal width three column grid container" style = "background-color: black;">

        <div class = "column">
            <img src = "../../static/img/work/skeletons/finalfeet.png"/>
            </div>
        <div class = "column">
            <img src = "../../static/img/work/skeletons/finalhand.png"/>
            </div>
    </div>
    <div class = "ui horizontal divider header">The Simulation</div> 
    <p>
        Houdini was used to deform and displace the skeletal body. Bones were simulated both as hard-bodies, and as inflatables.
        Much work was put in to troubleshoot the interactions between bones, and the timings of the simulations.
      </p>
    <div class = "vid-gallery">
        <video width="100%"autoplay loop muted controls>
            <source src="../../static/img/work/skeletons/break.mp4" type="video/mp4">
          Your browser does not support the video tag.
          
          </video>  
          <p class = "caption">
            The explosion
          </p>
          <video width="100%" autoplay loop muted controls>
            <source src="../../static/img/work/skeletons/spin.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>  
    </div>
    
</div>


</div>


</html>