<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
    </head>
    <script type="module">

    // View an image.

    // Then, show the image by clicking it, or call `viewer.show()`.
    
    // View a list of images.
    // Note: All images within the container will be found by calling `element.querySelectorAll('img')`.
    const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});
    // Then, show one image by click it, or call `gallery.show()`.

    </script>


    <div id = "images" class = "gallery">
        <div class="ui stackable equal height two column grid container">
            <div class = "five wide column">
                <img src = "../../static/img/work/sneakers/cover.png">
            </div>
            <div class = "three wide column " >
                <div class = "projectcaption"> 
                    <div class = "head">LV JASPERS</div>
                    A pair of game-ready, VR-capable Louis Vuitton X Kanye Jaspers. Modelled and textured for a freelance client.
                    <br>
                    <br>
                    Tools used: Zbrush, Maya, Arnold, Substance Painter, Photoshop
                 </div>
            </div>
        </div>
        <div class="ui stackable equal width two column grid container">
            <div class = "column">
                <img src = "../../static/img/work/sneakers/angleother.png">
    
            </div>
            </div>
    <div class="ui stackable equal width two column grid container" style= "background-color: black;">
        <div class = "column">
            <img src = "../../static/img/work/sneakers/one angle2.png">

        </div>
        <div class = "column">
            <div class="sketchfab-embed-wrapper"> <iframe style ="height: 100%;width: 100%;"title="ZDFRS" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/c6299633c4bb4ba097e7910b94fa9d89/embed"> </iframe> </div>
        </div>
    </div>


    <div class="ui stackable equal width two column grid container">

        <div class = "column">
            <img src = "../../static/img/work/sneakers/unreal.png">
        </div>
    </div>
    <div class="ui stackable equal width two column grid container">
        <div class = "column">
            <img src = "../../static/img/work/sneakers/close.png">
        </div>
        <div class = "column">
            <img src = "../../static/img/work/sneakers/HighresScreenshot00002.png">
        </div>
    </div>


</div>

</html>