<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">
        <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.css">
        <link rel= "stylesheet" type= "text/css" href= "../../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src  = "https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.2/viewer.js"></script>
    </head>
    <div class="ui text fixed top menu">

        <a href = "../../index.html" class = "item" style = "visibility: visible;">
            <img src="/static/logo/logo.svg" id = "sitelogo">
        </a>
    
        <div class = "ui right menu" style="background-color: transparent !important;">
    
            <a href = "../work.html"  class="active item" >PROJECTS</a>
            <a  href = "../about.html" class="item">ABOUT</a>
        
        </div>
    
    </div>
    <script type="module">

    // View an image.

    // Then, show the image by clicking it, or call `viewer.show()`.
    
    // View a list of images.
    // Note: All images within the container will be found by calling `element.querySelectorAll('img')`.
    const gallery = new Viewer(document.getElementById('images'), {toolbar: 0});
    // Then, show one image by click it, or call `gallery.show()`.

    </script>

    <div class = "container containerleft">

    <div id = "images" class = "gallery">
        <div class="ui stackable centered  three column grid container equal height">
            <div class="three column centered row">
                <div class="column">
                    <img src = "../../static/img/work/kulipari_posters/Darel_Final.png">
                </div>
                <div class="column">
                    <img src = "../../static/img/work/kulipari_posters/Marmoo_Final.png">
                </div>
                <div class = "column">
                    <div class = "projectcaption">
                        <div class = "head">KULIPARI POSTERS</div>

                        A pair of posters designed at OVFX for distribution and large scale printing at Kidscreen and Comic Con. 
                        <br>
                        <br>
                        I posed, lit, and rendered the characters. Then I used photobashing and stock images to fill out the images. 
                        This saved the team time from having to model and render setting and accessories, while also allowing more on-the-fly changes to the composition.
                        <br>
                        <br>
                        Tools used: Maya, Arnold, Photoshop, Illustrator 
                    </div>
                </div>
    
            </div>
        </div>
        <div class="ui horizontal divider">
            Process
          </div>

        <div class="ui stackable centered  one column grid container">
            <div class = "row">

            <div class="six wide column">
                <img src = "../../static/img/work/kulipari_posters/Darel_Process.gif">
            </div>            </div>

            <div class = "row">

            <div class="six wide column">
                <img src = "../../static/img/work/kulipari_posters/Marmoo_Process.gif">
            </div>
        </div>

            </div>
        </div>

</div>
</html>