.head {
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: min(3vw, 4em);
    font-weight: 400;
    line-height: min(3vw, 4em);
    margin: 0px;
    width: 100%;
    color: black;
    text-overflow: "-";
  
}
p {
    font-size: 12pt;
    text-align: justify;
}

h1 {
    font-size: 40pt !important;
    font-weight: 700 !important;
    font-family: "Poppins", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    line-height: 45pt !important;
}

#info{
    position: fixed;
    top: 0%;
    right: 2%;
    width: 60px;
    z-index: 5;
    cursor: pointer;
    padding: 10px;
}

#logo {
    position: fixed;
    top: 0%;
    left: 2%;
    width: 90px;
    height: 90px;
    z-index: 5;
    cursor: pointer;
    padding: 10px;
    /*background-color: white;*/

}

.project-cover {
    width: 100%;
    height: 100vh;
}

.project-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-cover video {
        height: 100%;
    width: 100%;

    object-fit: cover;

}
.separator {
    margin-top: 100px;
}

.project_caption {
    background-color: rgb(0, 0, 0);
}

.project_description {
    font-size: 20pt;
}
.img-gallery img {
    max-height: 80vh;
    max-width: 100%;
    width: auto;
    margin: auto;
}
.img-gallery {
    text-align: center;
}
.bottom-arrow {
    position: absolute;
    text-align: center;
    top:85vh;
    left: 50%;
    transform: translate(-50%,0%);
    cursor: pointer;
}
.bottom-arrows {
    position: absolute;
    text-align: center;
    top:85vh;
    left: 50%;
    width: 60%;
    transform: translate(-50%,0%);
    cursor: pointer;
}

.above_text {
    position: absolute;
    top: 3%;
    left: 0%;
    z-index: 5;
    text-align: left;
}

.bottom-arrows img{
    width: 40px;
}
.bottom-arrow img{
    width: 40px;
}
.head:hover{
    /*
    color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    */
  }


canvas{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

a {
    color:black;
    text-decoration: none; /* no underline */
}
a:visited{
    color:black;
}
.main {
    z-index: 2;
    position: relative;
    top:400px;
    margin: 0px;
    visibility: visible;
}

.projectitem{
    top: 0px;
    stroke-width: 3px;
    padding: 2%;
}

.caption {
    font-family: 'Times New Roman', Times, serif;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: max(1vw, 1em);
    font-weight: normal;
    text-align:left;
    margin-top: 5px;
}

.big-image-gallery {
    text-align: center;
}
.big-image-gallery img{
    width: 80%;
    padding: 20px;
}
a:hover {
    color: red;
}
a:active {
    color: yellow;
}
.captiontest {
    font-family: 'Times New Roman', Times, serif;
    text-align:right;

}

.projectitem img {
    width:100%;

}

.other-text{
    color: red;
    font-size: 30pt;
    padding: 20px;
}

.caption {
    font-size: 10pt;
    color: grey;
}
.projectitem img:hover {

}
.imgoverlay {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;   
    opacity: 0;
    transition: .2s ease;

    top: 0%;
    left: 0%;
}


.imagecontainer {
    position: relative;
}
.projectitem:hover .imgoverlay {
    opacity: .3;
  }
.imagecontainer:hover img {
    filter:  grayscale(100%);
    transition: .2s;

}
.imagecontainer:hover video {
    filter:  grayscale(100%);
    transition: .2s;

}

.abouttext {
    font-family: poppins, Helvetica, sans-serif;
    font-size: min(5vw, 2em);
}

.aboutimage {
    width: 100%;
}


.otherprojectsitem img {
    width: 100%;
}

img {
    width: 100%;
    
}

.column {
    padding: 7px !important;
}
body {
    background-color: white !important;
}
.projectcaption {
    font-family: poppins, sans-serif;
    font-size: max(1.2vw, .8em);
    font-weight: light;
    color: black;
    position: sticky;
    top: 100px;

    /*top: 50%;*/
  
}
.vid-gallery video {
    padding:5%; 
    width: 90%;
}
.vid-gallery{
    text-align: center;

}
.ui.grid {
    margin: 0px !important;
}
.ui.menu .item:before{
    visibility: hidden !important;
}
.item{
    font-family: poppins, sans-serif;
    padding: 20px !important;
    margin: 0px !important;
    font-weight: 400;
    /* background-color: rgba(255, 255, 255, 1) !important; */
}
.ui.text.menu .active.item {
    font-weight: 400 !important;
}

.menu {
    background-color: transparent !important;
    box-shadow: none !important;

}

.sidemenu {
    transform-origin: 0px;

    /*transform: rotate(90deg) translateX(0%); */
    z-index: 3;
    position: fixed;
    width: 40vw;
    right: 0px;
    top: 0%;
    background-color: white;
}
.containerleft{
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}
.ui.menu {
    background-color: white !important;
    padding-left: 2%; 
    padding-right: 2%;
}

#circle {
	width: 100%;
    padding-bottom: 100%;
    stroke: red;
    outline: 2px solid black;
    border-radius: 100%;

    /*
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;*/
    overflow: hidden;
    position: relative;
}

#box {
    width: 100%;
    padding-bottom: 100%;
    
    outline: 2px solid black;
    position: relative;
    
}

.insidesquare {
    padding: 5%;
    position:absolute;
    height: 100%;
    width: 100%;
}

#sitelogo{
    height: max(15px, 2vw)
}

.reelouter {
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.reelwrapper {
    position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 



}
@media only screen and (max-width: 992px) {
    .reelouter {
        padding: 0%;
    }
}
.reelwrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.aboutcontainer {
    height: calc(100% - 100px);
    padding: 10%;
}
.abouticon {
    width: max(3vw, 40px);
    padding: 5px;
}

#canvasbox {
}

#canvasbox canvas {
    position: absolute; 
    top: 0; left: 0; bottom: 0; right: 0;

    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    }