<html>
    <head>

        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src="../js/about.js"></script>
</head>
<div class="ui  two column grid container">
    <div class = "row">

    <div class="thirteen wide column">
        <div class = "head">NIKITA SHTARKMAN</div>
    <div class = "text">
        is a guy who does art and design and other things of that kind of nature. He is a smart and kind and has brown hair and a smile.
        He is worth talking to and making conversation with. His interests include.
    </div>
    <br>
    <br>
    <div class  = "text">
        Skills:

        Web Design
        Web Developement
        Web Surfing

        Digital design
        Print design
        Life design 
        Scrambled egg making

    </div>
    </div>
    <div class = "three wide column" >
        <img class = "aboutimage" src = "../static/img/about/portrait.png">
    </div>
</div>



</div>
</html>