<html>
    <head>

        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        
    <!--  <script src="../js/about.js"></script>--> 
        <script src="https://cdn.babylonjs.com/viewer/babylon.viewer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>
        <script src="https://unpkg.com/three@0.126.0/examples/js/controls/OrbitControls.js"></script>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />

</head>



<a href = "../../index.html">
    <img id="logo" src = "../../static/logo/white-logo.svg" >
</a>

<div class = "container aboutcontainer">
<div class="ui stackable two equal width column centered grid container" >

    <div class = "row">
    <div class = " column">
        <div id = "box">
            <div class = "insidesquare">
                <div class = "projectcaption">
                    <h1>Nikita Shtarkman</h1>
                    <p>
                        My name is Nikita and I am a 3D artist, designer, and technologist. 
                        I am currently based in New York City, and am pursuing an MFA in Design & Technology at Parsons.
    
                    </p>
                    <div class="ui  divider "></div>
                
                    <div class = "projectcaption">
                       Ways to contact me:
                    </div>
    
                    <a href = "mailto:nikitash98@gmail.com?Subject=Hello%20again">
                    nikitash98@gmail.com
                    </a>
                    <br>
                    <a href = "https://www.instagram.com/nikitashtrk/">
                        nikitashtrk
                    </a>
                    <br>
                    <a href = "https://www.linkedin.com/in/nikita-shtarkman-78b449154/">
                    https://www.linkedin.com/in/nikita-shtarkman-78b449154/
                    </a>
                </div>
                

            </div>
        

    </div>

    </div>
    <div class=" column">
        <div id="circle">  
            <div class = "insidesquare">
                <div id = "canvasbox" style = "height: 100%; width: 100%;" >
                    
             </div>
            </div>

         
        </div>
    </div>
    </div>
    </div>
</div>


</div>
</div>
</html>