<html>
    <head>

        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

</head>
<div class="ui text fixed top menu">
  <a href = "../index.html" class="item" style = "visibility: visible;"> NS</a>
  <div class = "ui right menu">
      <a href = "/templates/work.html"  class="item">PROJECTS</a>
      <a  href = "/templates/about.html" class="item">ABOUT</a>
      <a href = "/templates/contact.html" class="item active">CONTACT</a>
  </div>

</div>

<div class = "container">
  <div class="ui  two column centered grid container">

    <div class = "column">
      <div class = "projectcaption">

      <div class = "head">SEND ME A NOTE</div>

      <form class="ui form">
        <div class="field">
          <label>Name or Moniker</label>
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
            <label>Message</label>
            <textarea></textarea>
          </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
      </div>
    </div>
    <div class = "column">
      <div class = "projectcaption">
        <div class = "head">EMAIL ME</div>
        <a href = "mailto:nikitash98@gmail.com?subject=Hello&body=Message">
          nikitash98@gmail.com</a>
  
       </div>
      </div>
      <div class="ui vertical divider">
      </div>
    </div>

</div>

</html>