<html>
    <head>

        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

</head>
<div class = "head">SEND ME A NOTE</div>
<div class = "containter">
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">


            
            <form class="ui form">
                <div class="field">
                  <label>Name or Moniker</label>
                  <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea></textarea>
                  </div>
                <button class="ui button" type="submit">Submit</button>
              </form>
            </div>
            
            <h1> OR</h1>

<h1>nikitash98@gmail.com</h1>

            </div>


            
        </div>
     </div>



</div>

</html>