<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    
    </head>
    <!--

    
    <div class="ui  three column grid container" style = "background-color: white;">
        <div class="four column centered row">
            <div class="column two wide">
                <div class="ui massive top fixed fluid three item menu">
                    <a class="active item">PROJECTS</a>
                    <a class="item">ABOUT</a>
                    <a class="item">CONTACT</a>
                  </div>
            </div>
            <div class="column">
                Two
            </div>
        </div>
    </div>
-->
<div class="ui text compact fixed top menu" >

    <a href = "../index.html" class = "item" style = "visibility: visible;">NS</a>

    <div class = "ui right menu" style="background-color: transparent !important;">

        <a href = "work.html"  class="active item" >PROJECTS</a>

        <a  href = "about.html" class="item">ABOUT</a>
        <a href = "contact.html" class="item">CONTACT</a>
    
    </div>

</div>
  
<!--

<div class="ui menu">
  <a class="item">Browse</a>
  <a class="item">Submit</a>
  <div class="right menu">
    <a class="item">Sign Up</a>
    <a class="item">Help</a>
  </div>
</div>

        <div class="ui  fluid  top fixed text menu">
            <a class="active item">PROJECTS</a>
            <a class="item">ABOUT</a>
            <a class="item">CONTACT</a>
            <div class = "right menu">
                <a>TEST</a>
            </div>
            </div>

            -->

        <!--
  



    <div class = "sidemenu">

        <div class="ui grid three equal width centered">
            <div class=" column">
                <a href = "work.html" class = " item active" >
                  PROJECTS
                </a>
            </div>
            <div class=" column">
                <a href = "about.html" class = " item active" >
                  ABOUT
                </a>
            </div>
            <div class=" column">
                <a href = "contact.html" class = "item">
                    CONTACT
                </a>
            </div>
          </div>
        </div>
            -->
    <div class = "total">


<div class = "ui text container containerleft">

    <video width="100%" height="100%"   controls>
        <source src="../../static/intro.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>   

        
          
          

</div>
 

</html>