<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    
    </head>

    <div class = "head">PROJECTS</div>
    <br>
    <br>
<div class = "ui text container">
    
    <div class="ui stackable two column grid container">
        <div class="row">
            <div class="column">
                <a href="../templates/projects/bear.html">
                <div class = "projectitem">
                    <img src = "../static/img/ecorchetest.png">
                    <br>
                    <div class = "caption">Fig 1. Ecorche</div>
                </div>
                </a>
            </div>

            <div class = "column">
                <div class = "projectitem">
                    <img src = "../static/img/bear.jpg">
                    <br>
                    <div class = "caption">Fig 2. Bear</div>
                </div>
            </div>

            <div class = "column">
                <div class = "projectitem">
                    <img src = "../static/img/gun.jpg">
                    <br>
                    <div class = "caption">Fig 3. Gun</div>
                </div>
            </div>
            <div class = "column">
                <div class = "projectitem">
                    <img src = "../static/img/gun.jpg">
                    <br>
                    <div class = "caption">Fig 3. Gun</div>
                </div>
            </div>

        </div>


          </div>        
    </div>
        

</html>