<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    
    </head>
    <div class = "sidemenu">

        <div class="ui grid three equal width centered">
            <div class=" column">
                <a href = "work.html" class = " item active" >
                  PROJECTS
                </a>
            </div>
            <div class=" column">
                <a href = "about.html" class = " item active" >
                  ABOUT
                </a>
            </div>
            <div class=" column">
                <a href = "contact.html" class = "item">
                    CONTACT
                </a>
            </div>
          </div>
        </div>
            
    <div class = "total">

    <div class = "head">PROJECTS</div>

    <br>
    <br>


<div class = "ui text container containerleft">
    <div class="ui stackable equal height one column grid container">
        <div class="row">
            <div class="column">
                <a href="../templates/projects/nft.html">
                <div class = "projectitem">
                    <img src = "../static/img/work/thumbnails/boxy2.png"/>
                    <div class = "caption"> New Fragmentary Things</div>
                </div>
                </a>
            </div>
        </div>
    <div class="ui stackable equal height two column grid container">
        <div class="row">
            <div class="column">
                <a href="../templates/projects/bear.html">
                <div class = "projectitem">
                    <img src = "../static/img/work/thumbnails/bear.jpg"></img>
                    <br>
                    <div class = "caption">Mr. Pop - Polycount Challenge</div>
                </div>
                </a>
            </div>

            <div class = "column">
                <div class = "projectitem">
                    <a href="../templates/projects/ecorche.html">

                    <img src = "../static/img/work/thumbnails/ecorchetest.png">
                    <br>
                    <div class = "caption">Anatomy of a Guy</div>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">


            <div class = "column">
                <div class = "projectitem">
                    <a href="../templates/projects/skeleton.html">
                        <img src = "../static/img/work/thumbnails/skele.png">
                    <br>
                    <div class = "caption">REVOLVE/CONSIST/SPEND</div>
                    </a>
                </div>
            </div>
            <div class = "column">
                <a href="../templates/projects/dragon.html">

                <div class = "projectitem">
                    <img src = "../static/img/work/thumbnails/gun.jpg">
                    <br>
                    <div class = "caption">Dragon's Breath </div>
                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="ui stackable equal height one column grid container">
        <div class="row">
            <div class="column">
                <a href="../templates/projects/sneaker.html">
                <div class = "projectitem">
                    <img src = "../static/img/work/thumbnails/sneakers.png"/>
                    <div class = "caption"> New Fragmentary Things</div>
                </div>
                </a>
            </div>
        </div>
        <div class="ui stackable equal height two column grid container">
            <div class="row">
                <div class="column">
                    <a href="../templates/projects/kulipari.html">
                    <div class = "projectitem">
                        <img src = "../static/img/work/thumbnails/marmoo.png">
                        <br>
                        <div class = "caption">Kulipari Posters</div>
                    </div>
                    </a>
                </div>
    
                <div class = "column">
                    <div class = "projectitem">
                        <img src = "../static/img/work/thumbnails/ecorchetest.png">
                        <br>
                        <div class = "caption">Fig 2. Bear</div>
                    </div>
                </div>
            </div>
          </div> 
          
          


    </div>
</div>
 

</html>