<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/jja2din.css">

        <link rel= "stylesheet" type= "text/css" href= "../static/simple.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link rel="icon" href="../static/logo/logo.svg">

    </head>
    <!--

    
    <div class="ui  three column grid container" style = "background-color: white;">
        <div class="four column centered row">
            <div class="column two wide">
                <div class="ui massive top fixed fluid three item menu">
                    <a class="active item">PROJECTS</a>
                    <a class="item">ABOUT</a>
                    <a class="item">CONTACT</a>
                  </div>
            </div>
            <div class="column">
                Two
            </div>
        </div>
    </div>
-->
<div class="ui text fixed top menu">

    <a href = "../index.html" class = "item" style = "visibility: visible;">
        <img src="../static/logo/logo.svg" id = "sitelogo">
    </a>

    <div class = "ui right menu" style="background-color: transparent !important;">

        <a href = "work.html"  class="active item" >PROJECTS</a>
        <a  href = "about.html" class="item">ABOUT</a>
    
    </div>

</div>
  



<div class = " container containerleft">
    <div class = "reelouter">
        <div class = "ui horizontal divider header">Reel</div> 
        <div class  = "reelwrapper">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/i9WYrnpSJwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
    </div>



    <div class = "ui horizontal divider header">Projects</div> 




    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/i9WYrnpSJwI?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <div class="ui stackable doubling centered  one column grid container">
        <div class="column" style="align-content: center;">
    </div>
        </div>



    <div class="ui stackable  grid container">
        <div class=" three column row">
            <div class="column ">
                <a href="../templates/projects/skeleton.html">

                    <div class = "projectitem">
                            <div class = "imagecontainer">
                                <video src = "../static/img/work/thumbnails/moving/revolve.mp4" autoplay muted loop width="100%" > </video>
                                <div class = "imgoverlay"></div>

                            </div>
                            <div class = "caption">Revolve | Consist </div>

                        <br>
                    </div>
                    
                </a>
            </div>

            <div class = " column">
                <a href="../templates/projects/sneaker.html">

                <div class = "projectitem">
                    <div class = "imagecontainer">
                        <img src = "../static/img/work/thumbnails/moving/sneaks2.gif">
                        <div class = "imgoverlay">
                        </div>

                    </div>
                    <div class = "caption">Louis Vuitton X Kanye Jaspers</div>

                </div>
                </a>
            </div>
            <div class = " column">
                <a href="../templates/projects/nft.html">
                    <div class = "projectitem">
                        <div class = "imagecontainer">

                            <video src = "../static/img/work/thumbnails/moving/boxy.mp4" autoplay muted loop width="100%" > </video>
                            <div class = "imgoverlay">
                        </div>
                        </div>
                        <div class = "caption">New Fragmentary Things</div>

                    </div>
                    </a>
            </div>
            <div class="ten wide column">
                <a href="../templates/projects/bear.html">
                <div class = "projectitem">
                    <div class = "imagecontainer">

                    <img src = "../static/img/work/thumbnails/bear.jpg"></img>
                    <div class = "imgoverlay">
                    </div>

                    </div>
                    <div class = "caption">Mr. Pop - Polycount Challenge</div>

                </div>
                </a>
            </div>

            <div class = "six wide column">
                <a href="../templates/projects/ecorche.html">
                    <div class = "projectitem">
                        <div class = "imagecontainer">

                    <img src = "../static/img/work/thumbnails/ecorche.png">
                    <div class = "imgoverlay">
                    </div>
                    </div>
                    <div class = "caption">Anatomy of a guy </div>

                    </div>
                    </a>
            </div>


               
            <div class = "six wide column">
                <a href = "../templates/projects/kulipari.html">

                <div class = "projectitem">
                    <div class = "imagecontainer">

                    <img src = "../static/img/work/kulipari_posters/Marmoo_Process.gif">
                    <div class = "imgoverlay">
                    </div>
                    </div>
                    <div class = "caption">Kulipari Posters</div>

                </div>
            </a>
            </div>
            <div class = "ten wide column">
                <a href="../templates/projects/dragon.html">
                    
                    <div class = "projectitem">
                        <div class = "imagecontainer">
                        <img src = "../static/img/work/thumbnails/gun.jpg">
                        <div class = "imgoverlay">
                        </div>
                    </div>
                    <div class = "caption">Dragon Ash </div>

                    </div>
                    </a>
            </div>
            <div class = "ten wide column">
                <a href="../templates/projects/nike.html">
                    <div class = "projectitem">
                        <div class = "imagecontainer">

                        <video src = "../static/img/work/nike/Shoes3_1.MP4" autoplay muted loop width="100%" > </video>
                        <div class = "imgoverlay"></div>
                        </div>
                        <div class = "caption">Nike Off-White Blazers </div>
                    </div>
                    </a>
            </div>
            <div class = "six wide column">
                <a href="../templates/projects/designs.html">

                <div class = "projectitem">
                    <div class = "imagecontainer">


                    <img src = "../static/img/work/thumbnails/OUT.png">
                    <div class = "imgoverlay"></div>

                    </div>
                    <div class = "caption">Design PLayground</div>

                </div>
            </a>

            </div>
            <div class = "ten wide column">
                <a href="../templates/projects/mindless.html">
                    <div class = "projectitem">
                        <div class = "imagecontainer">

                        <video src = "../static/img/work/thumbnails/moving/Mindless_2.MP4" autoplay muted loop width="100%" > </video>
                        <div class = "imgoverlay"></div>
    
                    </div>
                        <div class = "caption">Mindless Study </div>
                    </div>
                    </a>
            </div>


            <div class = "six wide column">
                <a href="../templates/projects/drawings.html">

                <div class = "projectitem">
                    <div class = "imagecontainer">

                        <img src = "../static/img/work/thumbnails/Death.png">
                        <div class = "imgoverlay"></div>

                    </div>
                    <div class = "caption">Sketchbook stuff</div>
                </div>
            </a>

            </div>




        </div>


        
          
          


</div>
 

</html>